html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.header {
    width: 100%;
    background-color: #0766AD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.whole-div {
    background-image: url('/assets/images/backgrounds/family.jpg');
    background-size: cover;
    background-position: center;
    border: solid 5px white;
    padding: 5px;
}

h2 {
    color: white;
}

h4 {
    color: white;
}

.background-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition: background-image 1s ease-in-out;
    min-height: 100vh;
    /* Ensure the container covers the entire viewport height */
}

form {
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: rgba(170, 170, 241, 0.5);
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #010101;
    text-align: left;
}

form input,
form select,
form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #020202;
}

form input::placeholder,
form select,
form textarea::placeholder {
    color: #000000;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;

}

small {
    color: white;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container label {
    margin-right: 10px;
}

footer {
    margin-top: 50px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(56, 61, 220);
    color: white;
    padding: 40px 0;
    font-weight: bold;
}

.footer-content {
    display: flex;
    flex-direction: column;
    /* Ensure the content is in a column layout */
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-navigation {
    margin-bottom: 20px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-nav li {
    margin: 0 15px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #080808;
    /* Dark color on hover */
}

.footer-bottom {
    width: 100%;
    /* Ensure it takes the full width of the footer */
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}

.header-bottom p {
    margin: 0;
}

.header-navigation {
    margin-bottom: 20px;
}

.header-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-nav li {
    margin: 0 15px;
}

.header-nav a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-nav a:hover {
    color: #090909;
    /* Dark color on hover */
}