.heading-container {
    text-align: center;
    position: relative;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}
span {
    color:white;
    font-family: "Lucida Handwriting", cursive;
    background-color: rgb(56, 61, 220);
    font-size: 50px;
    display: block;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0 10px;
    text-decoration: underline;
}