<header>
  <app-image-slider></app-image-slider>
</header>
<div class="heading-container">
  <h1>Welcome to</h1>
  <span>Real-Key Properties</span>
</div>
<div class="button-container">
  <app-navigation-buttons></app-navigation-buttons>
</div>
<div class="form-story">
  <!-- <div class="first-view">Why Real-Key you ask?</div> -->
  <div class="child" id="story">
    Real-Key Properties, where your dreams of finding the perfect home come to
    life. Our journey began over a decade ago with a simple mission: to provide
    unparalleled real estate services grounded in trust, integrity, and a deep
    commitment to our clients. Founded by a team of passionate real estate
    professionals, Real-Key Properties started as a small local agency with a
    big vision.
    <br />
    We recognized the need for a more personalized approach in the real estate
    market, one that genuinely understands and meets the unique needs of every
    client. With this vision, we set out to create a company that not only finds
    homes but builds lasting relationships. Over the years, we have grown from a
    local agency to a leading real estate firm, serving diverse communities with
    a broad range of services.
    <br />
    Our team of dedicated agents brings a wealth of experience, market
    knowledge, and a client-first attitude to every transaction. Whether you are
    buying your first home, looking for an investment property, or selling your
    beloved family home, we are here to guide you every step of the way. At
    Real-Key Properties, we believe in making the journey of buying or selling a
    home as seamless and enjoyable as possible.
    <br />
    Our story is one of continuous growth, driven by the trust our clients place
    in us and our unwavering commitment to excellence. Join us at Real-Key
    Properties, and let us help you find your place in the world.
  </div>
  <div class="child" id="form">
    <app-email-form></app-email-form>
  </div>
</div>
