<div class="body">
  <article>
    <p>
      At RealKey properties we aim to provide you with the best possible
      experience.
    </p>
    <p>And this is how we will achieve it.</p>
  </article>
  <br />

  <div class="flex-container">
    <div class="block">
      <h3>01. Innovated Approach</h3>
      <p>
        We have a rejuvenated and innovated approach towards real estate. Our
        company is streamlined to assist you with all of your needs!
      </p>
    </div>

    <div class="block">
      <h3>02. Proven Track Record</h3>
      <p>
        With a top structure of well-known successful selling agents with many
        years of experience and expertise in all market areas, we can
        holistically support our clients.
      </p>
    </div>

    <div class="block">
      <h3>03. Service Excellence</h3>
      <p>
        We abide by our ethos of service excellence, backed by the latest real
        estate technology, to market your home for the fastest result. Our
        joined members should all be qualified to the highest standards set by
        the EAAB.
      </p>
    </div>

    <div class="block">
      <h3>04. Superior Technology</h3>
      <p>
        Our user-friendly, up-to-date website promises a rejuvenated approach to
        marketing your home. It is linked to various other websites for ultimate
        exposure.
      </p>
    </div>

    <div class="block">
      <h3>05. Properly Registered</h3>
      <p>
        RealKey Properties is registered according to the New Companies Act and
        the Consumer Protection ACT.
      </p>
    </div>
  </div>
</div>
