.background-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition: background-image 1s ease-in-out;
    min-height: 100vh;
    /* Ensure the container covers the entire viewport height */
}

header {
    width: 100%;
    background-color: #0766AD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header ul li a:hover {
    background-color: #93BFCF;
    border: 2px solid #29ADB2;
    border-radius: 5px;
}

article {
    padding: 5px;
    background-color: #FFF6E9;
    border: 5px solid #29ADB2;
    border-radius: 10px;
}

.block h3 {
    background-color: #FFF6E9;
    border: 2px solid #0766AD;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Adds space between blocks */
    justify-content: flex-start;
    /* Align items at the top */
    align-items: center;
    /* Centers the blocks horizontally */
    padding-top: 20px;
    /* Adds space at the top to separate from the header */
}

.block {
    flex: 1 1 auto;
    width: 100%;
    /* Makes the blocks take the full width of the container */
    max-width: 1000px;
    /* Sets a maximum width for the blocks */
    height: 400px;
    /* Sets a fixed height for the blocks */
    padding: 20px;
    background-color: #C5E898;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    /* Includes padding and border in the block's width and height */
    transition: transform 0.3s, box-shadow 0.3s;
    /* Adds a smooth transition effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow to the block */
}

.block:hover {
    transform: scale(1.05);
    /* Scales the block up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhances the shadow on hover */
}

.flex-container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.block1 {
    background-color: #C5E898;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.block1 h3 {
    background-color: #FFF6E9;
    border: 2px solid #0766AD;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.block1:hover {
    transform: scale(1.05);
    /* Scales the block up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhances the shadow on hover */
}

figure {
    padding: 0;
    display: block;
    align-items: center;
    border-radius: 5px;
    border: 5px solid #0766AD;
}

figure img {
    max-width: 100%;
    /* Ensure the image fits within the block */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
}

.flex-join-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Adds space between blocks */
    justify-content: center;
    /* Align items in the center*/
    align-items: center;
    /* Centers the blocks horizontally */
    padding-top: 20px;
    /* Adds space at the top to separate from the header */
}

.join-block {
    flex: 1 1 auto;
    width: 100%;
    /* Makes the blocks take the full width of the container */
    max-width: 1000px;
    /* Sets a maximum width for the blocks */
    height: 200px;
    /* Sets a fixed height for the blocks */
    padding: 20px;
    background-color: #C5E898;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    /* Includes padding and border in the block's width and height */
    transition: transform 0.3s, box-shadow 0.3s;
    /* Adds a smooth transition effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow to the block */
}

.join-block:hover {
    transform: scale(1.05);
    /* Scales the block up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhances the shadow on hover */
}

#content {
    min-height: 400px;
    /* Ensures some initial height */
}


.description {
    margin-top: 10px;
    /* Add some space between the image and the text */
    text-align: center;
    /* Center the description text */
}

.images-block:hover {
    transform: scale(1.05);
    /* Scales the block up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhances the shadow on hover */
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

.flex-container article {
    flex: 1;
    padding: 20px;
    background-color: #FFF6E9;
    border: 5px solid #29ADB2;
    border-radius: 10px;
    height: 300px;
}

.map {
    flex: 1;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}

.contact-form {
    padding: 20px;
    background-color: #C5E898;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #29ADB2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0766AD;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    header ul {
        flex-direction: column;
        align-items: center;
    }

    header ul li {
        margin: 10px 0;
    }

    .block {
        max-width: 90%;
        /* Reduce the maximum width on smaller screens */
        height: auto;
        /* Allow the height to adjust based on content */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 20px;
        /* Smaller font size for smaller screens */
    }

    header ul li a {
        padding: 10px 15px;
        /* Increase padding for better touch targets */
    }

    .block {
        max-width: 100%;
        /* Make blocks take full width on very small screens */
        padding: 15px;
        /* Reduce padding for smaller screens */
    }
}

footer {
    margin-top: 50px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(56, 61, 220);
    color: white;
    padding: 40px 0;
    font-weight: bold;
    position: absolute;
    bottom: 1;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    /* Ensure the content is in a column layout */
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-navigation {
    margin-bottom: 20px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-nav li {
    margin: 0 15px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #080808;
    /* Dark color on hover */
}

.footer-bottom {
    width: 100%;
    /* Ensure it takes the full width of the footer */
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}

.header-bottom p {
    margin: 0;
}

.header-navigation {
    margin-bottom: 20px;
}

.header-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-nav li {
    margin: 0 15px;
}

.header-nav a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-nav a:hover {
    color: #090909;
    /* Dark color on hover */
}