<div class="body">
  <article>
    <h3>Some of the benefits of being with RealKey Properties are:</h3>
  </article>

  <br />

  <div class="flex-container">
    <div class="block">
      <h3>Branding & Marketing:</h3>
      <p>
        With our fresh and one-of-a-kind brand, you will be sure to stand out
        from the crowd. We send out personalized monthly newsletters to our
        extensive database. Our technologically superior website makes finding a
        property for your client easy and convenient. We also have a fantastic
        Mobi site offering sellers and buyers the opportunity to directly
        contact you from the convenience of their cell phone. All our listings
        also syndicate to all property portals and social media sites.
      </p>
    </div>

    <div class="block">
      <h3>Head Office & Services:</h3>
      <p>
        Our head office offers assistance that is fast, professional, and
        accurate. When you need assistance, our staff are qualified,
        experienced, and ready to provide administrative support. We offer
        admin, IT, and design support, as well as a corporate setting that has
        facilities where clients can meet you for meetings.
      </p>
    </div>

    <div class="block">
      <h3>Create credible lasting business relationships:</h3>
      <p>
        With our top structure of agents, you and your colleagues will make
        lifelong business connections that will broaden your networking ability.
        Due to our unique structure, all agents must have market-related
        experience and a NQF4 qualification, or at least be in the process of
        obtaining one.
      </p>
    </div>
  </div>
</div>
