<div class="flex-join-container">
  <div class="join-block">
    <p>
      Are you an experienced estate agent wanting to join a dynamic expanding
      brand and a team that will make you feel at home while providing homes?
    </p>
    <p>
      We at RealKey Properties want you to join <strong>Our</strong> team and be
      a part of <strong>Our</strong> story.
    </p>
    <p>
      Should you be interested to join our team, please email
      <a href="mailto:info@realkeyproperties.co.za"
        >info&#64;realkeyproperties.co.za</a
      >.
    </p>
  </div>
</div>
