<article>
  <p>Meet our <strong>Dynamic</strong> and <strong>Innovative</strong> team.</p>
</article>
<br />

<div class="flex-container1">
  <div class="block1">
    <h3>Wihan Stoltz</h3>
    <p><strong>Principle Property Practitioner</strong></p>
    <p>
      With years of experience in the property industry, Wihan has been involved
      in all market areas with success selling from residential properties new
      developments and even retirement villages.
    </p>
    <figure>
      <img src="/assets/images/directors/Wihan pic.jpg" />
    </figure>
  </div>

  <div class="block1">
    <h3>Zander Bennet</h3>
    <p><strong>Principle Property Practitioner</strong></p>
    <p>
      Zander has made a name for himself by selling out several developments. He
      is highly sought-after by multiple developers and is busy marketing
      various new developments.
    </p>
    <figure>
      <img src="/assets/images/directors/Zander pic.jpg" />
    </figure>
  </div>

  <div class="block1">
    <h3>Wynand Pieters</h3>
    <p><strong>Marketing Manager</strong></p>
    <p>
      Wynand has a unique and fresh approach marketing homes. He will find an
      innovative way to market your property that is best suited to your needs.
    </p>
    <figure>
      <img src="/assets/images/directors/Wynand pic.jpg" />
    </figure>
  </div>

  <div class="block1">
    <h3>Melanie Pretorius</h3>
    <p><strong>Administrative Manager</strong></p>
    <p>
      Melanie is the backbone of this team. She is highly competent and her
      advanced administrative skills will ensure that your experience is like
      taking a fresh breath of air.
    </p>
    <figure>
      <img src="/assets/images/directors/Melanie pic.jpg" />
    </figure>
  </div>
</div>
